<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - gestorDeGimnasios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gestorDeGimnasios.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="GestionarMaquina" asp-action="GestionandoMaquina">Gestionar maquinas</a>
            <a asp-controller="GestionarTipoMaquina" asp-action="GestionandoTipoMaquina">Gestionar tipos de maquinas</a>
            <a asp-controller="GestionarRutina" asp-action="GestionandoRutina">Gestionar rutinas</a>
            <a asp-controller="GestionarEjercicio" asp-action="GestionandoRutina" >Gestionar ejercicios</a>
            <a asp-controller="GestionarResponsable" asp-action="GestionandoResponsable" >Gestionar responsables</a>
            <a asp-controller="GestionarLocal" asp-action="GestionandoLocal" >Gestionar locales</a>
            <a asp-controller="GestionarSocio" asp-action="GestionandoSocio">Gestionar socios</a>
        </nav>

    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
