@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model gestorDeGimnasios.Models.TipoMaquina

<h2 class="mainTitulo">Confirmar Eliminación del Tipo de Maquina</h2>
<div class="mainContenido">
    <form asp-action="AccionEliminarTipoMaquina" method="post" class="formulario">

        @Html.LabelFor(model => model.IdTipoMaquina, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.IdTipoMaquina, new { @class = "input", @readonly = "readonly" })
        <div></div>

        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Nombre, new { @class = "input", @readonly = "readonly" })
        <div></div>

        <input type="submit" value="Eliminar" class="boton" />
    </form>
</div>