@{
    ViewData["Title"] = "Inicio - Gym 24";
}
@model gestorDeGimnasios.Controllers.HomeController;
    @inject IHttpContextAccessor context;

<h2 class="mainTitulo">Bienvenido a Gym 24</h2>
<div class="mainContenido">
    @if (context.HttpContext.Session.GetString("tipoUsuario") == "" || context.HttpContext.Session.GetString("tipoUsuario") == null)
    {
        @Html.ActionLink("Iniciar Sesión", "IniciarSesion", null,null, new { @class = "link" })

    }
</div>

           
        

                




@{
   
}
